/*
  ■ pomodoro
      styles
          * main.css
   +---------------------------------------------------------------------------
    * main.css
      => Styles across the 'pomodoro' app.
   ---------------------------------------------------------------------------+
*/

/*
  potential colors
    rgb(255, 136, 77) orange
    rgb(65,132,225) blue
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

.txt-body {
    font-family: 'Nunito', sans-serif;
}

.txt-heading {
    font-family: 'Open Sans', sans-serif;
}

.txt-gray {
    opacity: 0.8;
}

.btn {
    position: relative;
    cursor: pointer;
}

.btn-icon {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 1px black;
}

.centered {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}


.bg-gray {
    background: rgb(50, 50, 50);
}

.bg-dark {
    background: rgb(37, 37, 37);
}

.bg-darker {
    background: rgb(25, 25, 25);
}

.bga-gray {
  background: rgba(50, 50, 50, 0.7);
}

.bga-dark {
    background: rgba(25, 25, 25, 0.7);
}


body {
    background-image: url('/assets/images/clock_bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: 70% 0;
    width: 100vw;
    height: 100vh;
}

main.view {
    position: relative;
    width: 100%;
    height: 100%;
}



/* media queries
  -------------------------------------------------------------------------- */

/*
    screen width > 768px (tablet, laptop, etc.)
*/
@media only screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        background: rgba(25, 25, 25, 0.2);
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(75, 75, 75, 0.9);
    }
}
