/*
  ■ pomodoro
      styles
          * pomodoro.css
   +---------------------------------------------------------------------------
    * pomodoro.css
      => Styles for the 'pomodoro' state view.
   ---------------------------------------------------------------------------+
*/

#view-pomodoro {
    display: grid;
    grid-template-rows: 20% 80%;
}

#tasks #tasks-header {
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-size: 1.4rem;
}

#tasks #task-list {
    position: relative;
    left: 5%;
    width: 95%;
    height: calc(100% - 2.7rem - 4.2rem);
    overflow-y: scroll;
}

#tasks .task-container {
    display: grid;
    min-height: 4.2rem;
    border-bottom: 1px solid rgb(37, 37, 37);
}

#tasks #add-task-item {
    position: relative;
    grid-template-columns: 80% 20%;
    box-shadow: 0 1px 10px 5px rgb(25, 25, 25);
    z-index: 1;
}

#tasks .task-item {
    grid-template-columns: 20% 80%;
}

#tasks input[type='text'] {
    background: rgb(37, 37, 37);
    border: none;
    width: 100%;
    font-size: 1.4rem;
    padding: 0 6px;
    opacity: 0.8;
    outline: none;
    height: 4.2rem;
}

#tasks input[type='submit'] {
    display: none;
}

#tasks .task-btn {
    min-height: 4.2rem;
    font-size: 1.4rem;
    border-right: 1px solid dimgray;
    border-bottom: 1px solid rgb(25, 25, 25);
}

#tasks #add-task-item .task-btn {
    border-right: none;
    border-left: 1px solid dimgray;
    border-bottom: none;
}

#tasks .task-text-box {
    position: relative;
    padding: 0 6px;
}

#tasks .task-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/* media queries
  -------------------------------------------------------------------------- */

/*
    screen width > 768px (tablet, laptop, etc.)
*/
@media only screen and (min-width: 768px) {
    #view-pomodoro {
        grid-template-rows: 1fr;
    }

    #pomodoro-directive {
        position: absolute;
        left: 40%; right: 0;
        height: 100%;
    }

    #tasks {
        position: absolute;
        width: 40%;
        height: 100%;
    }

    #tasks #add-task-item {
        grid-template-columns: 85% 15%;
    }

    #tasks #task-list {
        left: 10%;
        width: 90%;
    }

    #tasks .task-item {
        grid-template-columns: 15% 85%;
    }
}
