<!--
  ■ pomodoro
      app
          templates
              * pomodoro.html
-->

<main id="view-pomodoro" class="view">
    <!-- Pomodoro Timer (directive: pomodoroTimer.js) -->
    <section id="pomodoro-directive">
        <pomodoro-timer></pomodoro-timer>
    </section>
    <section id="tasks" class="txt-body">
        <header id="tasks-header" class="bg-darker">
            <span class="ion-android-menu txt-gray"></span>
        </header>
        <form id="form-add-task" name="newTask" ng-submit="pomodoro.submit(task)">
            <div id="add-task-item" class="task-container">
                <input type="text" ng-model="task" minlength="1" maxlength="93" placeholder="add task" required>
                <label class="task-btn btn bg-gray">
                    <input type="submit">
                    <span class="ion-plus btn-icon txt-gray"></span>
                </label>
            </div>
        </form>
        <div id="task-list">
            <div class="task-container task-item" ng-class="{'bga-gray': $even, 'bga-dark': $odd}"
              ng-repeat="task in pomodoro.tasks | orderBy: task.timestamp : true">
                <div class="task-btn btn" ng-class="{'bg-gray': $even, 'bg-dark': $odd}"
                  ng-click="pomodoro.complete(task)">
                    <span class="ion-android-checkbox-outline btn-icon"></span>
                </div>
                <div class="task-text-box">
                    <span class="task-text">{{ task.name }}</span>
                </div>
            </div>

        </div>
    </section>
</main>
