<!--
  ■ pomodoro
      app
          templates
              * pomodoroTimer.html
-->

<section id="pomodoro-timer">
    <div id="timer-container" class="bga-dark centered">
        <div id="time-box" class="timer-container-item" ng-class="{'active': isTicking()}">
            <span id="timer" class="centered txt-heading">{{ timerCount | secondsToDateTime | date:'mm:ss' }}</span>
        </div>
        <div id="btn-timer" class="timer-container-item btn" ng-click="isIdle() && onBtnTimer()"
          ng-class="{'bg-gray': isIdle(), 'active bg-darker': isTicking(), 'working': !isWorkCompleted(),
          'break': isWorkCompleted(), 'long-break': isLongBreak()}">
            <span class="btn-icon" ng-class="{'ion-android-stopwatch': !isWorkCompleted(),
              'ion-android-walk': isWorkCompleted(), 'txt-gray': isTicking()}"></span>
        </div>
    </div>
</section>
