<!--
  ■ pomodoro
      app
          templates
              * pomodoro.html
-->

<main id="view-pomodoro" class="view">
    <!-- Pomodoro Timer (directive: pomodoroTimer.js) -->
    <section id="pomodoro-directive">
        <pomodoro-timer></pomodoro-timer>
    </section>
    <!-- Task List -->
    <section id="tasks" class="txt-body">
        <!-- Header -->
        <header id="tasks-header" class="bg-darker">
            <span class="ion-android-menu txt-gray"></span>
        </header>
        <!-- Form: Add Task -->
        <form id="form-add-task" name="newTask" ng-submit="pomodoro.submit(task)">
            <div id="add-task-item" class="task-container">
                <input type="text" ng-model="task" minlength="1" maxlength="93" placeholder="add task" required>
                <label class="task-btn btn bg-gray">
                    <input type="submit">
                    <span class="ion-plus btn-icon txt-gray"></span>
                </label>
            </div>
        </form>
        <!-- Task List Items -->
        <div id="tasks-list">
            <!-- Tasks: Active -->
            <div class="task-container task-item" ng-class="{'bga-gray': $even, 'bga-dark': $odd}"
              ng-repeat="activeTask in pomodoro.activeTasks | orderBy: activeTask.timestamp : true">
                <div class="task-btn btn" ng-class="{'bg-gray': $even, 'bg-dark': $odd}"
                  ng-click="pomodoro.onBtnComplete(activeTask)">
                    <span class="ion-android-checkbox-outline btn-icon"></span>
                </div>
                <div class="task-text-box">
                    <span class="task-text">{{ activeTask.name }}</span>
                </div>
            </div>
            <!-- Tasks: Completed -->
            <div class="task-container task-item completed"
              ng-class="{'bga-gray': pomodoro.activeTasks.length % 2 ? $odd : $even,
                'bga-dark': pomodoro.activeTasks.length % 2 ? $even : $odd}"
              ng-repeat="completedTask in pomodoro.completedTasks | orderBy: completedTask.timestamp : true">
                <div class="task-btn btn" ng-click="pomodoro.onBtnDestroy(completedTask)"
                  ng-class="{'bg-gray': pomodoro.activeTasks.length % 2 ? $odd : $even,
                    'bg-dark': pomodoro.activeTasks.length % 2 ? $even : $odd}">
                    <span class="ion-trash-b btn-icon"></span>
                </div>
                <div class="task-text-box">
                    <span class="task-text txt-gray">{{ completedTask.name }}</span>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal: Pomodoro Info -->
    <pomodoro-info></pomodoro-info>
</main>
