<!--
  ■ pomodoro
      app
          templates
              * pomodoroInfo.html
-->

<section id="pomodoro-info">
    <!-- Info Modal -->
    <section id="pomodoro-info-modal" class="bga-dark" ng-show="isModalOpen()" ng-click="onBtnModal()">
        <!-- Info Container -->
        <div id="info-items" class="centered" ng-click="$event.stopPropagation()">
          <!-- Info Item: Title -->
            <div id="title" class="info-item bg-darker">
                <div class="info-text txt-heading">
                    <span class="centered txt-title">Pomodoro</span>
                </div>
            </div>
            <!-- Info Item: Work -->
            <div class="info-item bg-dark">
                <div class="info-image">
                    <span class="ion-android-stopwatch work btn-icon"></span>
                    <span class="info-image-text txt-body txt-gray">25min</span>
                </div>
                <div class="info-text txt-body">
                    <span class="centered">You're in a <strong>work</strong> session.</span>
                </div>
            </div>
            <!-- Info Item: Break -->
            <div class="info-item bg-dark">
                <div class="info-image">
                    <span class="ion-android-walk break btn-icon"></span>
                    <span class="info-image-text txt-body txt-gray">5min</span>
                </div>
                <div class="info-text txt-body">
                    <span class="centered">Time to take a <strong>break</strong>.</span>
                </div>
            </div>
            <!-- Info Item: Long Break -->
            <div class="info-item bg-dark">
                <div class="info-image">
                    <span class="ion-android-walk long-break btn-icon"></span>
                    <span class="info-image-text txt-body txt-gray">30min</span>
                </div>
                <div class="info-text txt-body">
                    <span class="centered">You've completed 4 work sessions! Take a <strong>long break</strong>.</span>
                </div>
            </div>
            <!-- Info Item: Complete Task -->
            <div class="info-item bg-dark">
                <div class="info-image">
                    <span class="ion-android-checkbox-outline btn-icon"></span>
                </div>
                <div class="info-text txt-body">
                    <span class="centered">Mark task <strong>completed</strong>.</span>
                </div>
            </div>
            <!-- Info Item: Destroy Task -->
            <div class="info-item bg-dark">
                <div class="info-image">
                    <span class="ion-trash-b btn-icon"></span>
                </div>
                <div class="info-text txt-body">
                    <span class="centered"><strong>Remove</strong> completed task.</span>
                </div>
            </div>
        </div>

    </section>
    <!-- Walkthrough Messages -->
    <aside id="walkthrough-msg" class="bga-darker txt-body">
        <span id="btn-rmv-msg" class="ion-close-round" ng-click="onBtnRmvMsg()" ng-show="hasBtnRmvMsg()"></span>
        <span id="display-msg"></span>
    </aside>
    <!-- Btn: Info Modal -->
    <footer id="btn-info" class="btn" ng-click="onBtnModal()" ng-class="{'bg-dark': !isModalOpen(), 'bg-gray': isModalOpen()}">
        <span class="ion-help"></span>
    </footer>
</section>
