<!--
  ■ pomodoro
      app
          templates
              * pomodoroTimer.html
-->

<section id="pomodoro-timer">
    <div id="timer-container" class="bga-dark centered">
        <div id="time-box">
            <span id="timer" class="centered txt-heading">{{ timerCount | secondsToDateTime | date:'mm:ss' }}</span>
        </div>
        <div id="btn-timer" class="bg-gray btn"
          ng-click="onBtnTimer()" ng-show="isIdle()">
            <span class="btn-icon" ng-class="{'ion-android-stopwatch': !isWorkCompleted(), 'ion-android-walk': isWorkCompleted()}"></span>
        </div>
        <div id="btn-timer" class="bg-dark btn"
          ng-click="onBtnTimer()" ng-show="isTicking()">
            <span class="ion-android-refresh btn-icon txt-gray"></span>
        </div>
    </div>


</section>
